{% block colors %}

<form name="myForm" id="myForm">
    <input type="text" name="searchName">
</form>
{#
    {% for color in colors %}
    {% for col in color %}
        {{col}}<br>
    {% endfor %}
    
{% endfor %}
#}
{% endblock %}
