

{% block title %}bookStoreBundle:Book:create{% endblock %}

{% block head %}
    
    {% block javascripts %}
        {% javascripts '@bookStoreBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

{% endblock %}        

{% block body %}
    
    {% block forms %}
        
       {{form_start(form)}}
       {{form_widget(form)}}
       {{form_end(form)}}
    {% endblock %}  
    
    <div id="Book_list">
        
    </div>
{% endblock %}
